In [ ]:
1. Write a Python Program to Find the Factorial of a Number?

In [1]:
n=int(input("enter the number"))
factorial=1
for i in range(1,n+1):
    factorial=factorial*i
    print(factorial)

enter the number 5

1
2
6
24
120

In [ ]:
2. Write a Python Program to Display the multiplication Table?

In [2]:
for i in range(1,11):
    print(2*i)

2
4
6
8
10
12
14
16
18
20

In [ ]:
3. Write a Python Program to Print the Fibonacci sequence?

In [4]:
a=0
b=1
for i in range(5):
    print(a,end=" ")
    a,b=b,a+b

0 1 1 2 3

In [ ]:
4. Write a Python Program to Check Armstrong Number?

In [6]:
n=int(input("enter the number:"))
digits=str(n)
power=len(digits)
total=sum(int(i)**power for i in digits)
if n==total:
    print(n,"n is armstrong")
else:
    print(n,"n is not armstrong")

enter the number: 153

153 n is armstrong

In [ ]:
5. Write a Python Program to Find Armstrong Number in an Interval?

In [14]:
lower=int(input("enter the num:"))
upper=int(input("enter the num:"))
print("armstrong num is between", lower,"and", upper)
for num in range(lower,upper+1):
 digits=str(num)
 power=len(digits)
 total=sum(int(digit)**power for digit in digits)
    
 if num==total:
  print(num)

enter the num: 100
enter the num: 1000

armstrong num is between 100 and 1000
153
370
371
407

In [ ]:
6. Write a Python Program to Find the Sum of Natural Numbers?

In [20]:
num=int(input("enter the num:"))
total=num*(num+1)//2
print("sum of first n",num,"natural num is",total)

enter the num: 10

sum of first n 10 natural num is 55